*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: gray;
  }
  
  /* HEADERBLACK */
  .teamblack{
    height: 60px;
    position: absolute;
    top: 4px;
    left: 142px;
    font-size: 30px;
    font-weight: 800;
    color: #1e2742;
    display: flex;
    align-items: end;
    text-decoration: none;
  }
  .topright{
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    right: 119px;
    top: 15px;
  }
  .linksblack{
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
    color: #6d7d8b;
  }
  .getAccessblack{
    width: 128px;
    height: 56px;
    border: 2px solid rgba(77, 160, 253, 0.42);
    border-radius: 4px;
    background: rgba(77, 160, 253, 0.1);
    color: #4da0fd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
  }
/* HEADERWHITE */

.teamwhite{
  height: 60px;
  position: absolute;
  top: 4px;
  left: 142px;
  font-size: 30px;
  font-weight: 800;
  color: white;
  display: flex;
  align-items: end;
  text-decoration: none;
}
.linkswhite{
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
  color: white;
}
.getAccesswhite{
  width: 128px;
  height: 56px;
  border: 2px solid white;
  opacity: 75%;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
}