/* IMPORTING FONTS */
@font-face {
  font-family: 'cabin';
  src: url(../../public/Cabin-VariableFont_wdth\,wght.ttf);}
@font-face {
    font-family: 'karla';
    src: url(../../public/Karla-VariableFont_wght.ttf);}
@font-face {
      font-family: 'mulish';
      src: url(../../public/Mulish-VariableFont_wght.ttf);}
@font-face {
      font-family: 'sans';
      src: url(../../public/WorkSans-VariableFont_wght.ttf);
}


.contain{
  background-color: #F5F7FA;
  height: 2338px;
  width: 1440px;
  position: relative;
  margin: auto;
  font-family: mulish;
}
.blogPosts{
  color: black;
  font-size: 48px;
  font-weight: 800;
}
.topDesc{
  color: #6d7d8b;
  font-size: 18px;
  font-weight: 600;
}
.name{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 140px;
  top: 160px;
}
.card{
  position: relative;
  width: 363px;
  height: 440px;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 32px;
}
.image{
  width: 363px;
  height: 147px;
  object-fit: cover;
  object-position: 100% 0%;
  position: absolute;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.title{
  color: #25313c;
  font-size: 24px;
  font-weight: 500;
  position: absolute ;
  top: 173px;
  left: 34.07px;
  font-family: cabin;
}
.description{
  position: absolute;
  top: 256px;
  left: 35.05px;
  right: 9.63px;
}
.icon{
  position: absolute;
  left: 24.34px;
  bottom: 19px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}
.username{
  color: #6d7d8b;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 89px;
  bottom: 33px;
}
.date{
  color: #6d7d8b;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  bottom: 33px;
  right: 61px;
}
.littlething{
  position: absolute;
  bottom: 34px;
  left: 180.77px;
}
.bottom{
  position: absolute;
  top: 333px;
  left: 142px;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
}
.next{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 44px;
  background-color: rgba(12, 15, 26, 0.1);
  border-radius: 4px;
  color: #6d7d8b;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 637.5px;
  bottom: 476px;
}
.end{
  width: 1440px;
  height: 336px;
  background-color: #252b3b;
  position: absolute;
  bottom: 0px;
  display: flex;
  gap: 78px;
  padding-top: 13px;
  padding-left: 139.71px;
}
.section1{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section0{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 100px;
}
.contact{
  display: flex;
  gap: 10px;
}
.text1{
  font-size: 30px;
  font-weight: 800;
}
.teams{
  width: 87px;
  height: 60px;
  display: flex;
  align-items: end;
  margin-bottom: 16px;
}
.dot{
  margin-bottom: -5px;
  color: #0bbef2;
  font-size: 48px;
  font-weight: 800;
}
.text2{
  font-size: 14px;
  font-weight: 400;
  font-family: karla;
  text-decoration: none;
}
.text2:visited{
  color: white;
}
.text3{
  margin-top: 43px;
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: 600;
}
.text4{
  font-size: 18px;
  font-weight: 600;
  margin-top: 37px;
}
.email{
  background-color: white;
  color: #4da0fd;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  width: 296.383px;
  height: 56px;
}
/* INDEX JS PART */

.containmain{
  width: 1440px;
  height: 4477px;
  position: relative;
  background-color: white;
  margin: auto;
  font-family: mulish;
  background-color: #F5F7FA;
}
.mainbackground{
  filter:brightness(50%);
}
.emailmain{
  background-color: white;
  color: #6d7d8b;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  width: 296.383px;
  height: 56px;
  border: none;
  border: 2px solid #bbc8d4;
  border-radius: 4px;
  outline: none;
  position: absolute;
  left: 140px;
  top: 531px;
}
.mainname{
  position: absolute;
  color: white;
  width: 514px;
  font-family: sans;
  font-size: 48px;
  font-weight: 400;
  top: 261px;
  left: 140px;
}
.maindesc{
  position: absolute;
  color: white;
  width: 323px;
  font-size: 18px;
  font-weight: 470;
  top: 403px;
  left: 140px;
}
.buttonmain{
  border: none;
  background-color: #0bbef2;
  height: 56px;
  padding: 16px 19px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  position: absolute;
  left: 470.71px;
  top: 531px;
}
.mainimage1{
  position: absolute;
}